volumes:
  cabundle:
  hostcerts:

services:

  trust:
    build:
      context: ./compose/trust-anchors
    volumes:
      - cabundle:/etc/pki
      - hostcerts:/hostcerts

    environment:
      TZ: Europe/Rome

  iam:
    image: nginx:stable-alpine
    dns_search: local.io
    container_name: iam

    environment:
      TZ: Europe/Rome
      NGINX_HOST: iam
      NGINX_PORT: 443

    ports:
      - "443:443"

    volumes:
      - /dev/urandom:/dev/random
      - cabundle:/etc/pki
      - hostcerts:/certs
      - iam.conf:/etc/nginx/conf.d/default.conf:ro
      - nginx.conf:/etc/nginx/nginx.conf:ro

    depends_on:
      trust:
        condition: service_completed_successfully

    networks:
      default:
        aliases:
          - iam.local.io
