volumes:
  trustanchors:
  cabundle:
  hostcerts:
  usercerts:

services:
  trust:
    build:
      context: ../trust-anchors
    volumes:
      - trustanchors:/trust-anchors
      - cabundle:/etc/pki
      - hostcerts:/hostcerts
      - usercerts:/usercerts

  db:
    container_name: db
    image: ${DB_IMAGE}:${DB_IMAGE_TAG}
    volumes:
      - ../db/iam-test-dump.sql:/docker-entrypoint-initdb.d/iam-test-dump.sql
    
    environment:
      TZ: Europe/Rome
      MYSQL_ROOT_PASSWORD: pwd
      MYSQL_USER: iam
      MYSQL_PASSWORD: pwd
      MYSQL_DATABASE: iam
      IAM_DB_HOST: db

    ports:
      - "3306:3306"

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "--silent"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 0s

  ngx:
    image: ${NGINX_IMAGE}:${NGINX_IMAGE_TAG}

    depends_on: 
      vomsaa:
        condition: service_started
      trust:
        condition: service_completed_successfully
    
    environment:
      TZ: Europe/Rome
      X509_VOMS_DIR: /vomsdir

    ports:
      - "443:443"

    volumes:
      - cabundle:/etc/pki
      - trustanchors:/etc/grid-security/certificates
      - hostcerts:/certs
      - ../iam-conf/vomsdir:/vomsdir:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/voms.test.example.conf:/etc/nginx/conf.d/voms.test.example.conf:ro

    networks:
      default:
        aliases:
          - voms.test.example

  vomsaa:
    image: ${VOMS_AA_IMAGE}:${VOMS_AA_IMAGE_TAG}
    
    environment:
      TZ: Europe/Rome
      JAVA_DEBUG_OPTS: -Djava.security.egd=file:/dev/./urandom -agentlib:jdwp=server=y,transport=dt_socket,suspend=n,address=1044
      JAVA_OPTS: -Djava.security.egd=file:/dev/./urandom -Dspring.profiles.active=mysql,voms

    ports:
      - "1044:1044"
    
    depends_on:
      db:
        condition: service_healthy

    volumes:
      - ../iam-conf/application:/workspace/config:ro
      - hostcerts:/etc/grid-security/voms
      - trustanchors:/etc/grid-security/certificates

  client:
    image: ${GRID_CLIENTS_IMAGE}:${GRID_CLIENTS_IMAGE_TAG}
    environment:
      TZ: Europe/Rome

    depends_on:
      trust:
        condition: service_completed_successfully

    volumes:
      - cabundle:/etc/pki
      - trustanchors:/etc/grid-security/certificates
      - ../iam-conf/vomsdir:/etc/grid-security/vomsdir:ro
      - ../iam-conf/vomses:/etc/vomses:ro
      - usercerts:/certs

    entrypoint: sleep infinity
