name: build & packaging

on: [push, pull_request] 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        cache: maven
        java-version: 17

    - name: License check
      run: |
        mvn -version
        mvn -B license:check

    - name: Build, test, package
      env:
        IAM_DB_HOST: localhost
      run: |
        sudo systemctl start mysql
        mysql -uroot -proot -e "CREATE USER 'iam'@'%' IDENTIFIED BY 'pwd';"
        mysql -uroot -proot -e "CREATE DATABASE iam CHARACTER SET latin1 COLLATE latin1_swedish_ci;"
        mysql -uroot -proot -e "GRANT ALL ON *.* TO 'iam'@'%';"
        mysql -uroot -proot -e "FLUSH PRIVILEGES;"
        mvn -Dspring.profiles.active=mysql-test -q package install

    - name: Copy artifacts to docker dir
      run: |
        cp iam-login-service/target/iam-login-service.war iam-login-service/docker
        cp iam-test-client/target/iam-test-client.jar iam-test-client/docker
        cp iam-voms-aa/target/iam-voms-aa.jar iam-voms-aa/docker

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Docker login
      if: startsWith(github.ref, 'refs/tags/')
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Docker metainformation for iam-login-service
      id: ls-meta
      # tag v5
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
      with:
        images: indigoiam/iam-login-service
        tags: |
          type=sha
          type=ref,event=tag

    - name: Docker metainformation for iam-test-client
      id: tc-meta
      # tag v5
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
      with:
        images: indigoiam/iam-test-client
        tags: |
          type=sha
          type=ref,event=tag

    - name: Docker metainformation for iam-voms-aa
      id: va-meta
      # tag v5
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
      with:
        images: indigoiam/iam-voms-aa
        tags: |
          type=sha
          type=ref,event=tag

    - name: Build & push iam-login-service docker image
      # tag v6
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
      with:
        tags: ${{ steps.ls-meta.outputs.tags }}
        labels: ${{ steps.ls-meta.outputs.labels }}
        context: iam-login-service/docker/
        file: iam-login-service/docker/Dockerfile.prod
        platforms: linux/amd64,linux/arm64
        push: ${{ startsWith(github.ref, 'refs/tags/') }}

    - name: Build & push iam-test-client docker image
      # tag v6
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
      with:
        tags: ${{ steps.tc-meta.outputs.tags }}
        labels: ${{ steps.tc-meta.outputs.labels }}
        context: iam-test-client/docker/
        file: iam-test-client/docker/Dockerfile.prod
        platforms: linux/amd64,linux/arm64
        push: ${{ startsWith(github.ref, 'refs/tags/') }}

    - name: Build & push iam-voms-aa docker image
      # tag v6
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
      with:
        tags: ${{ steps.va-meta.outputs.tags }}
        labels: ${{ steps.va-meta.outputs.labels }}
        context: iam-voms-aa/docker/
        file: iam-voms-aa/docker/Dockerfile.prod
        platforms: linux/amd64,linux/arm64
        push: ${{ startsWith(github.ref, 'refs/tags/') }}
