
on:
  push:
    branches:
      - develop

  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        cache: maven
        java-version: 17
    - name: Cache SonarCloud packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build and analyze
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_VIANELLO }}
      run: mvn -B -U verify sonar:sonar
            -Dsonar.projectKey=indigo-iam_iam 
            -Dsonar.organization=indigo-iam 
            -Dsonar.login=$SONAR_TOKEN
            -Dsonar.pullrequest.key=${{ github.event.number }}
            -Dsonar.pullrequest.branch=${{ github.HEAD_REF }}
            -Dsonar.pullrequest.base=${{ github.BASE_REF }}
            -Dsonar.pullrequest.github.repository=${{ github.repository }}
            -Dsonar.scm.provider=git
            -Dsonar.host.url=https://sonarcloud.io
